<h2 class="text-center">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %> 
  <div class="container-fluid row row-cols-md-1 g-4 justify-content-center">
    <div class="container-fluid col-10 col-md-4 bg-white rounded float-right m-1">
      <%= render "devise/shared/error_messages", resource: resource %>

      <h3>User</h3>
      <div class="field mb-3">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>
      <div class="field mb-3">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="container-fluid col-10 col-md-4 bg-white rounded m-1">
      <h3>Address</h3>
      <%= fields_for :address do |af| %>
          <div class="field mb-3">
          <%= af.label :country %>
          <%= af.text_field :country, class: "form-control" %>
        </div>

        <div class="field mb-3">
          <%= af.label :state %>
          <%= af.text_field :state, class: "form-control" %>
        </div>

        <div class="field mb-3">
          <%= af.label :postal_code %>
          <%= af.text_field :postal_code, class: "form-control" %>
        </div>

        <div class="field mb-3">
          <%= af.label :street_address %>
          <%= af.text_field :street_address, class: "form-control" %>
        </div>

        <div class="field mb-3">
          <i><%= af.label :premise %></i>
          <%= af.text_field :premise, class: "form-control" %>
        </div>

        <div class="field mb-3">
          <i><%= af.label :sub_premise %></i>
          <%= af.text_field :sub_premise, class: "form-control" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-success" %>
      </div>
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>