<div class="container-fluid col-11 bg-dark text-white rounded">
    <h1>Order: <%= @order.item.description %> </h1>
    <h2>Seller: <%= @order.item.user.email %></h2>
    <br>
    <% @order.item.images.each do |photo| %>
        <%= image_tag(photo, :width => 200) %>
    <% end %>
    <br>
    <br>
    <strong>Price: </strong><%= number_to_currency(@order.item.price) %>
    <br>
    <strong>Condition: </strong><%= @order.item.condition %>
    <br>
    <strong>Date of Purchase: </strong><%= @order.created_at %>
    <br>
    <%= link_to "Message Seller",inboxes_path(inbox: {recipient_email: @order.item.user.email}), method: :post , class: "btn btn-primary" %>
    <br>
    <%= link_to 'Back', :back, class: "btn btn-dark" %>
</div>
