<div class="container-fluid">
    <h1>Order: <%= @order.item.description %> </h1>
    <h2>Seller: <%= @order.item.user.email %></h2>
    <br>
    <% @order.item.images.each do |photo| %>
        <%= image_tag(photo, :width => 200) %>
    <% end %>
    <br>
    Price: <%= number_to_currency(@order.item.price) %>
    <br>
    Condition: <%= @order.item.condition %>
    <br>
    Bought <%= time_ago_in_words @order.created_at %> ago.
    <br>
    <%= link_to "Message Seller",inboxes_path(inbox: {recipient_email: @order.item.user.email}), method: :post %>
    <br>
    <%= link_to 'Back', :back %>
</div>
