<div class="container-fluid justify-content-center">
    <h1>Order Confirmed!</h1>
    <p>
    <strong>Seller:</strong>
    <%= @item.user.email %>
    </p>

    <div>
    <% @item.images.each do |photo| %>
        <%= image_tag(photo, :width => 200) %>
    <% end %>
    </div>

    <p>
    <strong>Price:</strong>
    <%= @item.price %>
    </p>

    <p>
    <strong>Condition:</strong>
    <%= @item.condition %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= @item.description %>
    </p>
</div>