<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :country, class: "form-label"  %>
    <%= form.text_field :country, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :state, class: "form-label"  %>
    <%= form.text_field :state, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :postal_code, class: "form-label"  %>
    <%= form.text_field :postal_code, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :street_address, class: "form-label"  %>
    <%= form.text_field :street_address, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :premise, class: "form-label"  %>
    <%= form.text_field :premise, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :sub_premise, class: "form-label"  %>
    <%= form.text_field :sub_premise, class: "form-control" %>
  </div>

  <div class="actions mb-3">
    <%= form.submit %>
  </div>
<% end %>
