<div class="container-fluid">
    <% query = "" %>
    <% if params.has_key?(:query) %>
        <% query = params[:query] %>
    <% end %>

    <div class="container-fluid col-8 p-2" style="max-width:600px">
        <div class="input-group input-group-lg bg-white rounded border">
            <input type="text" name="search" id="search" class="form-control border-0 text"  value=<%= query %>>
            <button id="searchButton" onclick='window.searchHandler()' class="btn btn-outline-secondary bg-dark text-white">Search!</button>
            <script>
                document.getElementById("search").addEventListener("keyup", function(e) {
                    if (e.keyCode === 13) {
                        document.getElementById("searchButton").click();
                    }
                })
            </script>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-1 g-4 justify-content-center">
        <% if @items.count > 0 %>
            <% @items.each do |item| %>
                <% if (item.description.downcase.include?(query.downcase) ) %>
                    
                    <div class="card mb-3 m-2" style="max-width: 540px;">
                        <div class="row g-0">
                            <% unless item.images[0].nil?  %>
                                <div class="col-md-6">
                                    <% item.images.each do |photo| %>
                                        <%= image_tag(photo, :width => 200) %>
                                    <% end %>
                                    </div>  
                                    <div class="col-md-6"> 
                                <% else %>

                                    <div class="col-md-12"> 

                                <% end%>
                                <div class="card-body">
                                    <h5 class="card-title"><%= item.description %></h5>
                                    <p class="card-text"><%= number_to_currency item.price %></p>
                                    <p class="card-text"><%= item.condition %></p>
                                    <p class="card-text"><%= item.status ? "Available" : "Sold" %></p>
                                    <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(item.created_at) %> ago.</small></p>
                                </div>
                            </div>
                            <a href="<%= item_path(item.id) %>" class="stretched-link"></a>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        <br>
    </div>
</div>