<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_inbox_path(@inbox) %> |
<%= link_to 'Back', inboxes_path %>

<!-- Input Form -->
<%= render 'messages/message_form' %>

<!-- Messages -->
<div id="messages" data-inbox-id="<%=@inbox.id%>">
    <%= render @inbox.messages %>
</div>
